.subscribe {
  background-color: #bd1313;
  color: white;
  border: none;

  /* Фиксированный размер */
  /* height: 35px;
  width: 110px; */

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe:hover {
opacity: 0.8;
}
.subscribe:active {
opacity: 0.5;
}

.join {
  background-color: white;
  color: #1a72d7;
  border-color: #1a72d7;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;

  /* height: 35px;
  width: 65px; */

  padding: 9px 16px;

  text-transform: uppercase;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.15s,
              color 0.15s,
              opacity 0.15s;
  vertical-align: top;
}

.join:hover {
background-color: #1a72d7;
color: white;
}
.join:active {
opacity: 0.7;
}

.tweet {
  background-color: #3989e4;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;

  /* height: 30px;
  width: 75px; */

  padding: 8px 16px;

  border-radius: 25px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet:hover {
  /* 1st - horizontal position, 2nd - vertical, 3rd - blur */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.tweet:active {
box-shadow: 5px 5px 10px rgba(124, 83, 83, 0.15);
}

.uber {
  background-color: black;
  color: white;
  font-size: 10px;

  /* height: 27px;
  width: 82px; */

  padding: 12px 15px;

  border: none;
  cursor: pointer;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.uber:hover {
  opacity: 0.8;
}
.uber:active {
  opacity: 0.4;
}

.amazon {
  background-color: rgb(255, 216, 20);
  color: black;
  font-size: 15px;
  border: none;

  /* height: 28px;
  width: 160px; */

  padding: 7px 55px;

  border-radius: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.amazon:hover {
  background-color: rgb(233, 196, 14);
}
.amazon:active {
  background-color: rgb(255, 216, 20);
}

.github {
  background-color: rgb(46, 164, 079);
  color: white;
  font-weight: bold;
  font-size: 13px;

  /* height: 29px;
  width: 75px; */

  padding: 12px 17px;

  border: none;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.github:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.github:active {
  box-shadow: 5px 5px 10px rgba(124, 83, 83, 0.15);
}

.bootstrap-1 {
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;

  /* height: 32px;
  width: 105px; */

  padding: 12px 20px;

  border: none;
  border-radius: 3px;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.bootstrap-1:hover {
  background-color: rgb(94, 63, 139);
}
.bootstrap-1:active {
  background-color: rgb(121, 82, 179);
}

.bootstrap-2 {
  background-color: white;
  color: rgb(108, 117, 125);
  font-weight: bold;

  /* height: 32px;
  width: 95px; */

  padding: 11px 19px;

  border-color: rgb(108, 117, 125);
  border-width: 1px;
  border-radius: 3px;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  border-style: solid;
  transition: background-color 0.15s,
              color 0.15s;
  vertical-align: top;
}

.bootstrap-2:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
.bootstrap-2:active {
  background-color: white;
  color: rgb(108, 117, 125);
}

.linkedin-1 {
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;

  /* height: 30px;
  width: 213px; */

  padding: 7px 28px;

  border: none;
  border-radius: 15px;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.linkedin-1:hover {
  background-color: rgb(7, 79, 150);
}
.linkedin-1:active {
  background-color: rgb(10, 102, 194);
}

.linkedin-2 {
  background-color: white;
  color:rgb(10, 102, 194);
  font-weight: bold;

  padding: 6px 25px;

  border: solid rgb(10, 102, 194) 1px;
  border-radius: 15px;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  transition: border 0.15s,
              background-color 0.15s;
  vertical-align: top;
}

.linkedin-2:hover {
  border: solid rgb(10, 102, 194) 2рpx;
  background-color:rgb(211, 231, 251)
}
.linkedin-2:active {
  border: solid rgb(10, 102, 194) 1px;
  background-color: white;
}